p {
  background-color: blue;
  margin: 10px;
}
section {
  height: 100px;
}
@media (min-width: 1200px){
  p {
    background-color: silver;
  }
}
@media (min-width: 992px) and (max.width: 1199px) {
  section {
    background-color: yellow;
  }
}
@media (max-width: 991px) {
  
}
